body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  margin: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px cyan;
}

/* Popup */
#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

#popup img {
  max-width: 80%;
  border-radius: 20px;
}

/* Buttons */
.close, .prev, .next {
  position: absolute;
  font-size: 30px;
  background: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.close {
  top: 20px;
  right: 20px;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}